body{
    /* width: 100%; */
    font-family:'Montserrat', sans-serif;
    background-color: black;
    background-image: url('/spd/pics/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
/*#34495E*/
.gallery{
    margin: 30px 50px;
}
.gallery img{
    transition: 1s;
    padding: 15px;
    width: 200px;
}
.gallery img:hover{
    transform: scale(1.1);
    /* box-shadow: 0 4px 14px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19); */
}
